/.vs
/AutomatedTester.BrowserMob/.vs
/AutomatedTester.BrowserMob/AutomatedTester.BrowserMob/bin
/AutomatedTester.BrowserMob/AutomatedTester.BrowserMob/obj
/Scanner/.vs
/Scanner/bin
/Scanner/obj
/Scanner/packages
/SiteView/*.user
/SiteView/bin
/SiteView/obj
/packages
/ScannerBot/bin
/ScannerBot/obj
/DataModel/bin
/DataModel/obj
/browsermob-proxy-2.1.4
/Scanner/*.user
/Scanner/Core
/ScannerBot/*.user
/Junkyard
/ScannerBot/Properties/PublishProfiles/*.user
/ScannerWebSite/bin
/ScannerWebSite/obj
/ScannerWebSite/*.user
/Archiver/bin
/Archiver/obj
/BotCreator/bin
/BotCreator/obj
/CodeGenerator/bin
/CodeGenerator/obj
/VMControl/bin
/VMControl/obj
/botcmd/obj
/botcmd/bin
/WebSite/Controllers/*.bak
/WebSite/Models/*.bak
*.bak
