<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BrowserMobPath" value="C:\browsermob-proxy-2.1.4\bin\browsermob-proxy.bat"/>
    <add key="FirefoxProfile" value="selenium"/>
    <add key="WorkDir" value="c:\temp"/>
    <add key="NmapPath" value="C:\nmap-7.92-win32\nmap-7.92\nmap.exe"/>
    <add key="SQLConnectionString" value="[Your MSSQL connection string]"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
