<h1 id="tableLabel">Sheduled items</h1>

<p *ngIf="!items"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="items">
  <thead>
    <tr>
      <th>Id</th>
      <th>Created</th>
      <th>LastScheduledTime</th>
      <th>Interval</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.id }}</td>
      <td>{{ item.created }}</td>
      <td>{{ item.lastScheduledTime }}</td>
      <td>{{ item.interval }}</td>
    </tr>
  </tbody>
</table>
